#beauty-list .custom-beauty-list-row {margin-top: 40px;}
#beauty-list .list-elem-part.left {float: left;}
#beauty-list .list-elem-part.right {float: right;}
#beauty-list .list-elem-part {width: 50%;}
#beauty-list .list-image {padding: 20px 20px 20px 20px; margin-top: 12px;}
#beauty-list .list-number {margin-left: -40px; font-size: 100px;}
#beauty-list .list-content {padding-left: 20px; padding-right: 20px; margin-top: 40px;}
#beauty-list .list-counter {padding-left: 60px;}
#beauty-list .list-title {margin-top: -25px; font-size: 20px; margin-left: 40px;}

@media (max-width: 767px) {
    #beauty-list .list-elem-part.left {float: none;}
    #beauty-list .list-elem-part.right {float: none;}
    #beauty-list .list-elem-part {width: 100%;}
}
